apache-airflow==2.2.3

apache-airflow-providers-pagerduty==2.1.0



apache-airflow-providers-snowflake==2.3.0

snowflake-connector-python[pandas]==2.7.11

snowflake-sqlalchemy==1.2.4

msal==1.18.0

apache-airflow-providers-amazon==4.0.0

boto3==1.21.38



pendulum==2.1.2

apache-airflow-providers-microsoft-mssql==2.0.1

apache-airflow-providers-odbc==2.0.1

pymssql==2.2.2

apache-airflow-providers-mysql==2.1.1

pyodbc==4.0.32

cryptography==3.4.8

psycopg2-binary==2.9.1

SQLAlchemy-JSONField==1.0.0

SQLAlchemy-Utils==0.37.9

SQLAlchemy==1.3.24

sqlalchemy-hana==0.5.0

hdbcli==2.13.22



## Packages for DBT Installation

json-rpc==1.13.0

minimal-snowplow-tracker==0.0.2

packaging==20.9

networkx==2.6.3

mashumaro==2.9

sqlparse==0.4.2



logbook==1.5.3

agate==1.6.1

dbt-extractor==0.4.1



pyparsing==2.4.7

msgpack==1.0.2

parsedatetime==2.6

pytimeparse==1.1.8

leather==0.3.4

pyyaml==5.4.1



jsonschema==3.1.1

hologram==0.0.14



dbt-core==1.1.1

dbt-snowflake==1.1.0

dbt-sqlserver==1.1.0

pandas==1.3.4